# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log

# Environment variables
.env
.env.local
.env.development
.env.production

# Build artifacts
frontend/.next/
frontend/out/
frontend/.turbo/
backend/dist/
backend/build/

# Logs
logs/
*.log
npm-debug.log*

# Docker
.dockerignore

# IDE & OS-specific files
.DS_Store
.vscode/
.idea/
*.swp

# Next.js specific
.next/
.vercel/

# Misc
coverage/
*/__pycache__/
*.swp

# typescript
frontend/*.tsbuildinfo
frontend/next-env.d.ts
